.imageLoader__dropzone {
  border: 1px solid lightgray;
  width: 100%;
  max-width: 400px;
  height: 100px;
  background: #f0f0f0;
  display: inline-block;
  margin-bottom: 30px;
}

.imageLoader__dropzone__active {
  opacity: 0.5;
}

.imageLoader__imgContainer {

}

.imageLoader__imgContainer__img {
  max-width: 100%;
  height: auto;
  display: block;
}

