.projectLoader {

}

.projectLoader__dropzone {
  border: 1px solid lightgray;
  min-width: 300px;
  min-height: 300px;
  background: #f0f0f0;
  display: inline-block;
}

.projectLoader__dropzone__active {
  opacity: 0.5;
}
